:root {
    --columns-rows: 16;
}

body {
    text-align: center;
    background-color: cornsilk;
}

h1 {
    font-family: Tourney, 'Courier New', monospace;
    font-size: 50px;
    margin: 10px;
}

p {
    font-size: 22px;
    margin: 5px;
}

button {
    font-size: 17px;
    display: inline-flex;
    justify-content: center;
    margin: 12px;
    border: 2px solid black;
}

button:hover {
    background-color: rgb(160, 158, 158);
}

p, button {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.grid {
    border: 5px solid black;
    width: 550px;
    height: 550px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(var(--columns-rows), 1fr);
    grid-template-rows: repeat(var(--columns-rows), 1fr);
    border-radius: 5px;
}

.square {
    border: 1px solid rgb(205, 201, 201);
    background-color: white;
}
